<div>
  <div class="header">
    <div class="text">
      <h2>Please Select the user to find their comments</h2>
    </div>
    <div>
      <nav class="navbar navbar-expand-sm">

        <ul class="navbar-nav" *ngIf="users">
          <li class="nav-item" *ngFor="let u of users">
            <button class="user-btn" (click)="selectUser(u)"> {{ u.firstName }} </button>
          </li>
        </ul>

      </nav>
    </div>
  </div>

  <div *ngIf="posts">
    <div>
      <h2 class="text">Posts from {{selectedUser.firstName}}</h2>
    </div>

    <div *ngFor="let p of posts">
      <div class="post-section">
        <div class="post"> {{p.title}} </div>
        <div><button class="comment-btn" (click)="getComments(p)"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="comments">

    <div class="comment-section" *ngFor="let c of comments">
      <div class="comments"> {{c.body}} </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
