<span (click)="forkFilter(true)"> Forked </span>
<span (click)="forkFilter(false)"> Not Forked </span>
<span (click)="CreatedFilter(true)"> Ascending </span>
<span (click)="CreatedFilter(false)"> Desc </span>
<div class="repo-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Language</th>
            <th> Is It A Fork </th>
            <th> Watchers Count </th>
            <th> Created AT </th>
          </tr>
          <tr *ngFor="let r of filteredList">
              <td>{{r.name}}</td>
              <td>{{r.description}}</td>
              <td>{{r.language}}</td>
              <td>{{r.fork}}</td>
              <td>{{ r.watchers_count}}</td>
              <td> {{ r.created_at}}</td>
    
    
          </tr>
    </table>
</div>




    <!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->



